[servo]
# ピン番号: 逆回転の場合は '-' を**後ろに**つける
#pins = "22,27-"  # rpi4b
pins = "20-,26,19-,16"  # rpi0w
#pins = "16-,19,26-,20"  # rpi3b

[servo.funcs]
#_prefix = "st:30 ms:.4"
_prefix = ""

xxx = "ms:1 mv:10,10,10,10 mv:-10,-10,-10,-10 mv:c,c,c,c f:xxx"  # recursive sample

home = "ca ms:.4 st:30 mv:-30,0,0,20 mv:0,0,0,0 mv:20,0,0,-30 mv:0,0,0,0"

forward-r = "mv:-30,c,c,20  mv:.,20,-20,.  mv:0,.,.,0"
forward-l = "mv:20,0,0,-30  mv:20,-20,20,-30  mv:0,-20,20,0"
forward-rl = "f:forward-r ; f:forward-l"
forward = "f:forward-rl"

backward-l = "mv:20,0,0,-30  mv:20,20,-20,-30  mv:0,20,-20,0"
backward-r = "mv:-30,0,0,20  mv:-30,-20,20,20  mv:0,-20,20,0"
backward-lr = "f:backward-l  f:backward-r"
backward = "f:backward-lr"

turn-l = "mv:-30,0,0,20  mv:-30,-20,-20,20  mv:0,-20,-20,0  mv:20,-20,-20,-30  mv:20,0,0,-30  mv:0,0,0,0"
turn-r = "mv:20,0,0,-30  mv:20,-20,-20,-30  mv:0,-20,-20,0  mv:-30,-20,-20,20  mv:-30,0,0,20  mv:0,0,0,0"

slide-l = "mv:c,c,c,-60 mv:-30,.,,-30 mv:-60,.,.,c mv:c,c,c,c"
slide-r = "mv:-60,c,c,c mv:-30,.,,-30 mv:c,.,.,-60 mv:c,c,c,c"

happy-l = "mv:-15,c,c,-45  mv:c,c,c,c"
happy-r = "mv:-45,c,c,-15  mv:c,c,c,c"
happy = "f:happy-l f:happy-r"
surprise = "ms:.15  st:20  mv:45,0,0,45  sl:.3  mv:0,0,0,0"

hi  = "ms:.3  mv:-30,0,0,20 mv:90,-90,0,20  sl:.3 ms:.1 mv:80,-90,0,20 mv:90,-90,0,20 mv:80,-90,0,20 mv:90,-90,0,20  sl:.5 ms:.5 mv:-50,0,0,20 mv:0,0,0,0"

bye = "ms:.3  mv:-30,0,0,20 mv:90,-90,0,20  sl:.3 ms:.1 mv:90,-70,0,20 mv:90,-90,0,20 mv:90,-70,0,20 mv:90,-90,0,20  mv:90,-70,0,20 mv:90,-90,0,20 sl:.5 ms:.5 mv:-50,0,0,20 mv:0,0,0,0"

toes-l = "mv:c,c,c,c  mv:20,.,.,. sl:.1 mv:c,c,c,c"
toes-r = "mv:c,c,c,c  mv:.,.,.,20 sl:.1 mv:c,c,c,c"

heel-l = "mv:c,c,c,c  mv:-20,.,.,. sl:.1 mv:c,c,c,c"
heel-r = "mv:c,c,c,c  mv:.,.,.,-20 sl:.1 mv:c,c,c,c"

step-l = "f:toes-l f:toes-l f:heel-l f:heel-l"
step-r = "f:toes-r f:toes-r f:heel-r f:heel-r"

step1 = "f:toes-l f:toes-l f:heel-l f:heel-l  f:toes-r f:toes-r f:heel-r f:heel-r"

dance1 = "ms:0.08 f:step-l ; ms:0.08 f:step-r"
dance2 = "ms:0.2 f:happy f:happy"
dance3 = "ms:0.2 sl:.1 f:surprise sl:.1 f:surprise sl:.1"
dance4 = "ms:0.2 f:slide-r ; ms:0.2 f:slide-l"
dance5 = "ms:0.2 f:forward ; ms:0.2 f:backward"

dance-seq1 = "f:dance1 ; f:dance2 ; f:dance3: f:dance4: ; f:dance5 ; sl:.1 ; f:dance5 ; sl:.2"
dance-seq2 = "f:hi ; sl:.5 ; f:dance-seq1 ; ; sl:.5 ; f:bye ; ms:.2 f:turn-r ; ms:.2 f:turn-r"

sumo-r = "ms:.4 mv:-30,0,0,20 mv:80,0,0,30 sl:.5 ms:.1 mv:-30,0,0,20 ms:.5 mv:0,0,0,0"
sumo-l = "ms:.4 mv:20,0,0,-30 mv:30,0,0,80 sl:.5 ms:.1 mv:20,0,0,-30 ms:.5 mv:0,0,0,0"
sumo = "f:sumo-r ; sl:0.8 ; f:sumo-l"
#sumo = "ms:.4  mv:-30,0,0,20 mv:60,0,0,30 sl:.5 ms:.2 mv:20,0,0,0 mv:0,0,0,0  sl:1 ms:.4  mv:20,0,0,-30 mv:30,0,0,60  sl:.5 ms:.2  mv0,0,0,20 mv:0,0,0,0"

# TBD
servo0_up   = "mr:5,0,0,0"
servo0_down = "mr:-5,0,0,0"
servo1_up   = "mr:0,5,0,0"
servo1_down = "mr:0,-5,0,0"
servo2_up   = "mr:0,0,5,0"
servo2_down = "mr:0,0,-5,0"
servo3_up   = "mr:0,0,0,5"
servo3_down = "mr:0,0,0,-5"

[jrpc]

[jrpc.server]
# url = {proto}://{host}:{port}{apipath]
proto = "http"
host = "0.0.0.0"
port = 8000
apipath = "/api"

[jrpc.client]

[jrpc.client.cli]
history_file = "~/ottopi0_cli.hist"

[jrpc.client.bluetooth]
dev_keyword = "8BitDo,Keyboard"
mr_prefix = "ms:0.3 st:10 mr:"  # TBD

[jrpc.client.bluetooth.keys]
#
# 8BitDo micro
#  ---K--L----------R--M---
# |         N    O         |
# |   C                H   |
# | E   F            I   G |
# |   D                J   |
# |          *  S          |
#  ------------------------
#
KEY_S = "f:home"

KEY_C = "ms:.2 f:forward"
KEY_D = "ms:.3 f:backward"
KEY_E = "ms:.3 f:turn-l"
KEY_F = "ms:.3 f:turn-r"

KEY_G = "ms:.2 f:happy"
KEY_J = "f:surprise"
KEY_H = "f:hi"
KEY_I = "f:bye"

KEY_K = "ms:.2 f:slide-l"
KEY_L = "ms:.1 f:step-l"
KEY_R = "ms:.1 f:step-r"
KEY_M = "ms:.2 f:slide-r"

#KEY_N = "ms:0.08 f:dance1 ms:0.2 f:dance2 f:dance3: ms:.1 f:dance4 sl:.1 f:dance4"
KEY_N = "f:dance-seq2"
KEY_O = "f:sumo"

[jrpc.client.bluetooth.mr_keys]  # TBD
# KEY_C = [ 5, 0, 0, 0]
# KEY_D = [-5, 0, 0, 0]
# KEY_E = [0,  5, 0, 0]
# KEY_F = [0, -5, 0, 0]
# KEY_G = [0, 0,  5, 0]
# KEY_I = [0, 0, -5, 0]
# KEY_H = [0, 0, 0,  5]
# KEY_J = [0, 0, 0, -5]
